/* -------------------------------------CSS pre-set ---------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
* {margin:0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;}


/* ----------------------------Style and below 1280 pixels ------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/
body {width:100vw;
	  box-sizing: border-box;}

#mainWrapper {width:100vw;
			  box-sizing: border-box;}

#header {	width:100%;
			box-sizing: border-box;}

#jumbotron {  width:100%;
			  height:52vw;
	  		  box-sizing: border-box;
			  background-image:url(../images/hrn_desktop_bg.jpg);
			  background-repeat:no-repeat;
			  background-position: center top;
			  background-size: cover;
			  overflow:visible;}

#jLeft {width:24%;
		/*border:1px solid red;*/
		box-sizing: border-box;
		float:left;
		text-align: center;}


		#jLeft>p {color:white;
					margin:45vw 0px 0px 24px;
					font-weight: normal;
					font-size:1.25vw;
					font-family: 'museo-sans',sans-serif;}

		#jLeft>h4 {color:white;
					margin:0px 0px 0px 0px;
					font-family: 'museo-sans',sans-serif;
					font-size:1.75vw;
					font-weight:900;}

#jCent {width:52%;
		margin:auto;
		border:1px solid rgba(0,0,0,0);
		box-sizing: border-box;
		float:none;
		text-align: center}

		#mainTitle {margin:auto;
				margin-top:14vw;
				text-align: left;
				width:50%;}

		#mainTitle>div {font-family: "Playfair Display",serif;
				   color:white;
				   font-weight: normal;
				   position:relative;}

		#mainTitle>div>#one{font-size:2.1vw;
						position:absolute;
						top:1vw;
						left:5vw;}

		#mainTitle>div>#two {font-size:5.9375vw;
						position:absolute;
						top:1vw;
						left:1vw;}

		#mainTitle>div>#three {font-size:2.1vw;
						position:absolute;
						top:7.5vw;
						left:5vw;}

		#jMid {margin:auto;
			   margin-top:37vw;
				width:100%;}

					#jMid>h3 {font-family: 'proxima-nova', sans-serif;
							  font-size:32px;
							  color:white;
							  margin-bottom:11px;}

				   #jMid>a {
				   	margin:0px 10px 2vw 10px;
					color:white;
					font-family: 'Roboto', sans-serif;
					font-size:14px;
					text-decoration: none;
								padding:11px 54px 11px 54px;
								background-color:#99cc00;
								display:inline-block;}

					#jMid>a:first-of-type {
				   	padding:11px 39px 11px 39px;
				   color:#99cc00;
					background-color:white;}

		#sponsors { display:inline-block;
					width:100%;
					box-sizing: border-box;
					margin:auto;
					text-align: center; }

				#sponsors>ul {width:100%;
							  margin:auto;}

							#sponsors>ul>li {/*width:19.5%;*/
											 display:inline-block;
											 box-sizing: border-box;
											 padding:0px 13px 0px 13px;
											 list-style: none;
											 box-sizing: border-box;}

							#sponsors>ul>li:first-of-type {padding:0px 13px 0px 0px;  }

							#sponsors>ul>li:last-of-type {padding:0px 0px 0px 13px;}

							#sponsor1>a>img {width:5.49vw;}
							#sponsor2>a>img {width:7.18vw;}
							#sponsor3>a>img {width:8.17vw;}
							#sponsor4>a>img {width:13.85vw;}
							#sponsor5>a>img {width:4.99vw;}


#jRight {width:24%;
		box-sizing: border-box;
		float:right;
		text-align: center;}

		#jRight>p {color:white;
					margin:45vw 0px 0px 24px;
					font-weight: normal;
					font-size:1.25vw;
					font-family: 'museo-sans',sans-serif;}

		#jRight>h4 {color:white;
					margin:0px 0px 0px 24px;
					font-family: 'museo-sans',sans-serif;
					font-size:1.75vw;
					font-weight:900;}

	

/* ------------------------------------------ Menus --------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

#dtMenu {width:100vw;
		 min-height:10vh;
		 background-color:rgba(0,0,0,0.7);
		 overflow:hidden;
		 position:fixed;
		 z-index: 300;
		 display:block;}

		#logo {float:left;}

		#logo>img {margin: 1.5vw 0px 0px 1.5vw;
				   width:19.5vw;}

	#dtNav { 
		  float:left;
		 text-align:center;
		 width:77vw;
		 margin:auto;}

		#dtNav>ul {list-style: none;
		   margin:1.5vw auto 1.4vw auto;
		   text-align:center;}

			#dtNav>ul>li { display:inline-block;}

				#dtNav>ul>li>a {font-family: 'Roboto', sans-serif;
				text-decoration: none;
				color:white;
				font-size:1.1vw;
				padding: 0px 0.875vw 0px 0.875vw; }

			#dtNav>ul>li:last-child{text-align:left;
							color:white;
							padding:1vw 3.7vw 1vw 3.7vw;
							background-color:#99cc00;
							font-family: 'Roboto', sans-serif;
							font-size:1.1vw;
							text-decoration: none;
							margin-left:1.25vw;}


/*----------------------------------------- Mobile Menu -----------------------------------*/

#mbMenu {width:100vw;
		 min-height:10vh;
		 background-color:rgba(0,0,0,0.7);
		 overflow:visible;
		 position:fixed;
		 display: none;}

		 #menuIconCont {width:100px;
		 			 height:35px;
		 			 margin:22px 0px 16px 0px;
		 			 box-sizing:border-box;
		 			 /*border:1px solid white;*/
		 			 float:right;
		 			 }

		 	#menuIcon {width:30px;
		 			   height:30px;
		 			   position:relative;
		 			   box-sizing: border-box;
		 				/*border:1px solid yellow;*/
		 				text-align:center;
		 				margin:auto;}

		 		.line {
		 			   width:100%;
		 			   border:2px solid white;
		 			   position:absolute;
		 				}

			 	#line1 { top:2px;
			 		     left:0px;
			 		     transition:opacity 2s ease-in-out;	}

			 	#line2 {top:12px;
			 		     left:0px;
			 		 }

			 	#line2:hover {border:2px solid #99cc00;
			 		 }


			 	#line3 {top:22px;
			 		     left:0px;}

		/*--------- modal------- */
		#myModal {
		    display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    /*margin-top: 6.75vw;*/ /* Location of the box */
		    left: 0;
		    top: 6.7vw;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}

		#mdCont {
		    position: relative;
		    background-color: rgba(0,0,0,0.8);
		    margin: auto;
		    padding: 0;
		    width: 100%; /* Full width */
		    height: 100%;
		    width: 100%;
		    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		    animation-name: animate;
		    animation-duration: 0.4s;
		}

		#mbNav {text-align: center; margin:auto;}

		#mbNav>ul> {margin:auto; text-align:center;}

		#mbNav>ul>li {list-style: none;
					 padding:1vw 1vw 1vw 1vw;
					 margin-left:100vw;

			}

		#mbNav>ul>li>a {color:white;text-decoration: none;font-family: 'Roboto', sans-serif;
			}

			#mbNav>ul>li>a:hover {color:#99cc00;
								  
								  
			}


		/* Add Animation */
		@keyframes animate {
		    from {left:100vw; opacity:0}
		    to {left:0; opacity:1}
		}
		@keyframes animateBack {
		    from {left:0px; opacity:1;}
		    to {left:100vw; opacity:0;}
		}


/*---------------------------------------- tile1 -----------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

#tile1 {width:100%;
		margin:auto;
		text-align: center;}

	#rails {width:100%;
		    height:10px;
		    margin:1vw auto 1.25vw auto;
			/*border:1px solid grey;*/
			position:relative;}

		#statDesc { width:19vw;
					height:3.5vw;
					background-color:#f2f2f2;
					position:absolute;
					display:block;
					transform:rotateY(90deg);
					text-align:center;
					font-size:1.1vw;
					font-family: 'Roboto', sans-serif;
					transition:transform .2s linear;}

				.triangle {   width: 0; 
							  height: 0; 
							border-left: 2vw solid transparent;
							border-right: 2vw solid transparent;
							border-top:1.5vw solid #f2f2f2;
							position:absolute;
							top:3.5vw;
							left:7.5vw;}


	#iconLine {width:100%; display:block;}

			#iconLine>ul { width:80%;
						   margin:auto;
						   text-align:center; }

				#iconLine>ul>li {list-style: none;
								 display:inline-block;}

						

						#iconLine>ul>li>img {width:2.3vw;
											height:2.3vw;
											margin:4vw 0px 4vw 0px;
											padding:0px 11px 0px 11px;}

#tile1>div	{	}


		#tile1>div>h3 {	font-family: 'proxima-nova', sans-serif;
						font-size:2.3vw;
						color:#99cc00;
						margin-bottom:15px;}			

		#tile1>#text>p       {   font-family: 'Roboto', sans-serif;
								 font-size: 14px;
								 line-height: 192%;
								 max-width:736px;
								 margin:auto;
								text-align: center;
								font-weight:100;}

#tile1>#tile1Links       {  }

		#tile1>#tile1Links>a       { margin:60px 10px 60px 10px;
									color:white;
									font-family: 'Roboto', sans-serif;
									font-size:14px;
									text-decoration: none;
									padding:12px 35px 12px 35px;
									background-color:#99cc00;
									display:inline-block;
									width:150px;}




 /*------------------------------------- tile2-------------------------------------------*/
 /*//////////////////////////////////////////////////////////////////////////////////////*/


#tile2 {background: linear-gradient(to top right, #53abb7, #6cc46e);
		box-sizing: border-box;
		width:100%;
		margin:auto;
		text-align: center;
		overflow:hidden;}

		#col1 {width:50%;
			   float:left;
				box-sizing: border-box;
				/*border: 1px solid red;*/}

			#mobiles {width:100%;}

				#mobilesIn {position:relative;
							width:50%;
							margin:auto;
						 text-align: center; }

					#mobilesIn>img {margin:30px 0px 30px 0px;
								  width:15.5vw;
								  height:22vw;
								z-index: 0;}

					#mobilesIn>a {}

					#mobilesIn>a>img {width:104px;
									height:42px;
									top:22vw;
									left:14vw;
									position:absolute;}

	#appDesc {width:80%; text-align:center; margin:auto;}

		#appDesc > h3 {font-family: 'proxima-nova', sans-serif;
						  font-size:2.3vw;
						  color:black;
						  margin-bottom:15px;}

		#appDesc >p {font-family: 'Roboto', sans-serif;
						 font-size: 14px;
						 line-height: 192%;
						 max-width:600px;
						 margin:auto;
						text-align: center;
						font-weight:100;}


	#appLinks {width:100%;
				margin:30px 0px 30px 0px;}

		#appLinks>a {margin:0px 13px 0px 13px;}

		#appLinks>a>img{width:135px;
						height:40px;}


#col2 {width:50%;
	   float:right;
		box-sizing: border-box;
		margin:auto;
		text-align:center;}

	#col2>div>img {margin:120px 0px 35px 0px;
				   width:90%;}


	#col2>a {				margin:0px 10px 65px 10px;
							color:black;
							font-family: 'Roboto', sans-serif;
							font-size:14px;
							max-width: 200px;
							text-decoration: none;
							padding:12px 50px 12px 50px;
							background-color:white;
							display:inline-block;}	



/*------------------------------------@media tags--------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////*/

/*--------------------over 1960 pixels--------------------*/

@media only screen and (min-width: 1960px) {

	/*#jMid {margin:auto;
			   margin-top:37vw;
				width:100%;}*/

					#jMid>h3 {font-family: 'proxima-nova', sans-serif;
							  font-size:1.7vw;
							  color:white;
							  margin-bottom:11px;}

				   #jMid>a {
				   	margin:0px 1vw 2vw 1vw;
					font-size:0.72vw;
					padding:0.75vw 5vw 0.75vw 5vw;}

					#jMid>a:first-of-type {
				   	padding:0.75vw 3.9vw 0.75vw 3.9vw;}

		#tile1>div>h3 {font-size:1.7vw;
						margin-bottom:1.5vw;}			

		#tile1>#text>p       { 
								 font-size: 0.72vw;
								 line-height: 192%;
								 max-width:60vw;
								 margin:auto;
								text-align: center;
								}

		#tile1>#tile1Links>a       { margin:4vw 0.75vw 4vw 0.75vw;		
									font-size:0.72vw;		
									padding:0.75vw 3.9vw 0.75vw 3.9vw;		
									width:10vw;}


		#mobilesIn>img {margin:3vw 0px 3vw 0px;}


		#mobilesIn>a>img {width:5.4vw;
						height:2.18vw;}

		#appDesc >p {font-family: 'Roboto', sans-serif;
						 font-size: 0.72vw;
						 line-height: 192%;
						 max-width:60%;}
		#appLinks {width:100%;
				margin:3vw 0px 3vw 0px;}

			#appLinks>a {margin:0px 0.8vw 0px 0.8vw;}

				#appLinks>a>img{width:7vw;
								height:2vw}


		#col2>a {				margin:0px 0.75vw 5vw 0.75vw;
							
							padding:0.8vw 4vw 0.8vw 4vw;
							font-size:0.72vw;
							}	


}


/*--------------------under 1280 pixels--------------------*/

@media only screen and (max-width: 1279px) {

	#logo>img {margin: 1.75vw 0px 0px 1.5vw;
				   }

	#dtMenu {display:none;}

	#mbMenu {display:block;}

	#jMid {margin:auto;
			   margin-top:36vw;
				width:100%;}
    
}

/*--------------------under 1000 pixels--------------------*/

@media only screen and (max-width: 999px) {

	#logo>img {margin: 2vw 0px 0px 1.5vw;
				   width:240px;}
	

	#jumbotron {background-image:url(../images/hrn_tablet_bg.jpg);
				height:80vw;
				min-height:80vw;}

	#jLeft {width:30%;}

			#jLeft {width:30%;}

				#jLeft>p {margin:12vw 0px 0px 24px;
							font-size:1.5vw;}

				#jLeft>h4 {margin:0px 0px 0px 24px;
							font-size:2vw;
							font-weight:bolder;}

	#jCent {float:none; margin:auto;width:75%;}

		#sponsors>ul>li {padding:13px 25px 13px 25px;}

	/*#sponsors>ul {margin-bottom:100px;}
*/
		#sponsor1>a>img {width:10.88vw;}
		#sponsor2>a>img {width:13.69vw;}
		#sponsor3>a>img {width:15.61vw;}
		#sponsor4>a>img {width:26.8vw;}
		#sponsor5>a>img {width:9.5vw;}

		#mainTitle {width:50%;
					margin-top:18vw;
					margin-bottom:25px;}

			#mainTitle>div>#one {font-size:2.5vw;
								top:1vw;
								left:10vw;}

			#mainTitle>div>#two {font-size:7.3vw;
								top:1vw;
								left:5vw;}

			#mainTitle>div>#three {font-size:2.5vw;
								top:8.5vw;
								left:10vw;
								width:400px;}

	#jMid {width:100%;
		  margin-top:45vw;}	

		#jMid>h3 {font-size:4.3vw; /*width:600px;*/
				  margin:auto;
					text-align:center;}

		#jMid>a {margin:10px 10px 35px 10px;}

	#jRight {width:30%;}

		#jRight>p {margin:12vw 0px 0px 24px;
						font-size:1.5vw;}

		#jRight>h4 {margin:0px 0px 0px 24px;
						font-size:2vw;
						font-weight:bolder;}

	#iconLine {display:none;}

	#statDesc { display:none;}

	#tile1>#text>h3 {	
				margin-top:35px;
				margin-bottom:25px;
				font-size:30px;}

	#tile1>#text>p       {max-width:95%;}

	#col1 {width:100%;}


		#mobilesIn>a>img {top:23vw;
						left:27vw;}

		#appDesc > h3 {font-size:30px;
						margin:5px 0px 20px 0px;}

		#appLinks {margin:30px 0px 0px 0px;}

	#col2 {margin:auto;
		   text-align: center;
			width:100%;}

		#col2>div>img {margin:20px 0px 35px 0px;
				   width:46vw;}

		#col2>a {margin:0px 10px 30px 10px;}	

		#tile1>#tile1Links>a       { margin:30px 10px 20px 10px;}

#myModal {top: 8vw;
	
		}
    
}


/*--------------------under 640 pixels--------------------*/

@media only screen and (max-width: 639px) {


	#jumbotron {background-image:url(../images/hrn_mobile_bg.jpg);
				height:221vw;
				min-height:80vw;}

		#jLeft {width:47%;}
		#jCent {float:none; margin:auto;width:100%;}
		#jRight {width:47%;}

		#jLeft>p {margin:95vw 0px 0px 0px;
					font-size:3.75vw;
					/*text-align:left;*/}

		#jLeft>h4 {margin:0px 0px 0px 0px;
					font-size:4.2vw;
					font-weight:bolder;
					/*text-align:left;*/}

		#jRight>p {margin:95vw 0px 0px 0px;
					font-size:3.75vw;
					/*text-align:right;*/}

		#jRight>h4 {margin:0px 0px 0px 0px;
					font-size:4.2vw;
					font-weight:bolder;
					/*text-align:right;*/}

		#jMid {width:100%;
			   margin:auto;
			   text-align:center;
		  margin-top:125vw;}

		 	#jMid>h3 {font-size:6.875vw;}

		 	#jMid>a {display:block;
		 			padding:11px 10px 11px 10px;
		 			 width:200px;
		 			 margin:auto;
		 			 margin-top:30px;
		 			 margin-bottom:30px;}

		 	#jMid>a:last-of-type {
		 			 padding:11px 8px 11px 8px;
		 			 }
		 	#jMid>a:first-of-type {
		 			 padding:11px 8px 11px 8px;
		 			 }

		 	#mainTitle {width:50%;
				margin-top:35vw;
				margin-bottom:25px;}

				#mainTitle>div>#one {font-size:4vw;
						top:1vw;
						left:8vw;
						}
				#mainTitle>div>#two {font-size:11.25vw;
						top:1vw;
						left:0vw;
						}
				#mainTitle>div>#three {font-size:4vw;
						top:13vw;
						left:8vw;
						width:400px;}

				#sponsor1>a>img {width:26.125vw;}
				#sponsor2>a>img {width:32.85vw;}
				#sponsor3>a>img {width:37.47vw;}
				#sponsor4>a>img {width:34.225vw;}
				#sponsor5>a>img {width:24.2vw;}

		#tile1>#text>h3 {font-size:22px;
						margin-top:30px;
						margin-bottom:20px;}

		#tile1>#text>p {max-width:90%;}

		#tile1Links       { width:70%; margin:auto;}

		#tile1Links>a       { margin:7px 10px 15px 10px;}

		#tile1>#tile1Links>a {
		 			padding:11px 5px 11px 5px;
		 			 width:170px;
		 			 display:block;
		 			 margin:auto;
		 			 }

		 	#tile1>#tile1Links>a:last-of-type {
		 			 padding:11px 7px 11px 7px;
		 			 margin:30px auto 15px auto;
		 					 			 }
		 	#tile1>#tile1Links>a:first-of-type {
		 			 padding:11px 8px 11px 8px;
		 			 margin:15px auto 11px auto;
		 			 }

		 	#mobilesIn>a>img {top:50vw;
						left:27vw;}

		 	#mobilesIn>img {margin:30px 0px 30px 0px;
					  width:32.5vw;
					  height:45vw;
					z-index: 0;}

			#appDesc > h3 {font-size:22px;
					margin:15px 0px 20px 0px;}

			#appDesc>p       {max-width:90%;}

			#col2>div>img {margin:20px 0px 35px 0px;
			   width:89vw;}
		 			 


    
}



/*--------------------experimental ------------------------*/


